@model Prototyp.Models.Athlete

@{
    ViewBag.Title = "Athlete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    @using (Html.BeginForm("Form", "Athlete", FormMethod.Post))
    {
        <div class="pageContainer">
            <div class="pageLeft">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <label class="input-label">First Name: </label>
                @Html.TextBox("txtFirstName", (string)ViewBag.firstName, new { @class = "input", type = "text" })
                <br />
                <label class="input-label">Last Name: </label>
                @Html.TextBox("txtLastName", (string)ViewBag.lastName, new { @class = "input", type = "text" })
                <br />
                <label class="input-label">Birth date: </label>
                @Html.TextBox(ViewBag.birthDate.ToString("dd/MM/yyyy") as String, null, new { @class = "input", type = "date" })
                <br />
                <label class="input-label">Street: </label>
                @Html.TextBox("txtStreet", (string)ViewBag.street, new { @class = "input", type = "text" })
                <br />
                <label class="input-label">Number: </label>
                @Html.TextBox("txtStrNumber", (int)ViewBag.number, new { @class = "input", type = "text" })
                <br />
                <label class="input-label">PostalCode: </label>
                @Html.TextBox("txtPLZ", (int)ViewBag.plz, new { @class = "input", type = "text" })
                <br />
                <label class="input-label">City: </label>
                @Html.TextBox("txtCity", (string)ViewBag.city, new { @class = "input", type = "text" })
            </div>
            <div class="pageRight">
                <div class="chooseItem search-field">
                    @Html.DropDownList("Athletes", ViewBag.Athletes as List<SelectListItem>, "Select Athlete", new { @class = "form-control search-field input" })
                    @*@Html.DropDownList("Athletes", ViewBag.Athletes as List<SelectListItem>, new { onchange = "document.location.href = '/Athlete/athleteChanged?id=' + this.options[this.selectedIndex].value;" })*@
                </div>

                <div class="empty"></div>

                <div style="padding-top: 21px;">
                    <img src="~/Content/Pictures/Male.PNG" alt="Male">
                    <img src="~/Content/Pictures/Female.PNG" alt="Female">
                    <br />
                    @Html.RadioButton("gender", "Male", new { @class = "radioButton", @checked = ViewBag.gender == true })
                    @Html.RadioButton("gender", "Female", new { @class = "radioButton", @checked = ViewBag.gender == false })
                </div>

                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>

                <div style="text-align: right;">
                    <button type="submit">
                        <img src="~/Content/Pictures/Save.PNG" class="pageButton">
                    </button>


                    <a href="/Athlete/Cancle">
                        <img src="~/Content/Pictures/Cancle.PNG" class="pageButton">
                    </a>
                </div>
            </div>
        </div>
    }
</div>

