
@model Prototyp.Models.Athlete

@{
    ViewBag.Title = "Athlete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    @using (Html.BeginForm("Form", "Athlete", FormMethod.Post))
    {
        <div class="pageContainer">
            <div class="pageLeft">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <label class="input-label">First Name: </label>
                
                

                @Html.TextBoxFor(m => m.firstName);

                <br />
                <label class="input-label">Last Name: </label>
                @Html.TextBoxFor(m => m.lastName);
         
                <br />
                <label class="input-label">Street: </label>
                @Html.TextBoxFor(m => m.home.streetName);
         
                <br />
                <label class="input-label">Number: </label>
                @Html.TextBoxFor(m => m.home.streetNumber);
     
                <br />
                <label class="input-label">PostalCode: </label>
                @Html.TextBoxFor(m => m.home.postalCode);
 
                <br />
                <label class="input-label">City: </label>
                @Html.TextBoxFor(m => m.home.city);
               


            </div>
            <div class="pageRight">
                <div class="chooseItem search-field">
                    @Html.DropDownList("Athletes", ViewBag.Athletes as List<SelectListItem>, "Select Athlete", new { @class = "form-control search-field input" })
                </div>

                <div class="empty"></div>

                <div style="padding-top: 21px;">
                    <img src="~/Content/Pictures/Male.PNG" alt="Male">
                    <img src="~/Content/Pictures/Female.PNG" alt="Female">
                    <br />
                    @Html.RadioButton("gender", "Male", new { @class = "radioButton" })
                    @Html.RadioButton("gender", "Female", new { @class = "radioButton" })
                </div>

                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>

                <div style="text-align: right;">
                    <button type="submit">
                        <img src="~/Content/Pictures/Save.PNG" class="pageButton">
                    </button>


                    <a href="/Athlete/Cancle">
                        <img src="~/Content/Pictures/Cancle.PNG" class="pageButton">
                    </a>
                </div>
            </div>
        </div>
    }
</div>

