@model Prototyp.Models.Event

@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @using (Html.BeginForm("Form", "Event", FormMethod.Post))
    {
        <div class="pageContainer">
            <div class="pageLeft">
                <h1>Events</h1>
                <hr />
                <div class="controlForm">
                    <label class="input-label">Date:</label>
                    @Html.TextBox(ViewBag.date.ToString("dd/MM/yyyy") as String, null, new { @class = "input", type = "date" })
                    <br />


                    <br />

                    <p>Disciplines</p>
                    @Html.TextArea("disciplines", "", new { @class = "textarea", type = "text" })
                    <br />
                    <div class="search-field">
                        @Html.TextBox("discipline.name", "Discipline Name", new { @class = "search", type = "text" })
                        <div class="secondaryButtonContainer">
                            <a href="/Athlete/save">
                                <img src="~/Content/Pictures/Save.PNG" class="secondaryButton">
                            </a>
                            <a href="/Athlete/Cancle">
                                <img src="~/Content/Pictures/Cancle.PNG" class="secondaryButton">
                            </a>
                        </div>
                    </div>
                    <br />
                </div>

            </div>
            <div class="pageRight">
                <div class="chooseItem search-field">
                    @Html.DropDownList("Events", ViewBag.Events as List<SelectListItem>, "Select Event", new { @class = "form-control search-field input" })

                </div>

                <br /> <br />
                       <div class="controlForm">
                           <label class="input-label" for="eventCity">City:</label>
                           @Html.TextBox("txtLocation", (string)ViewBag.location, new { @class = "input", type = "text" })
                           <br />
                           <label for="startNoSet" class="input-label">Start No Set:</label>
                           @*@Html.DropDownList("NumberSets", ViewBag.NumberSets as List<SelectListItem>, "Select NumberSets", new { @class = "form-control input" })*@

                           <br />
                           <p style="padding-top: 50px;">Clubs participating</p>
                           <form action="">
                               @Html.TextArea("clubName", "", new { @class = "textarea", type = "text" })
                               <br />
                               <div class="search-field">
                                   @Html.TextBox("club.name", "Club Name", new { @class = "search", type = "text" })
                                   <div class="secondaryButtonContainer">
                                       <a href="/Athlete/save">
                                           <img src="~/Content/Pictures/Save.PNG" class="secondaryButton">
                                       </a>
                                       <a href="/Athlete/Cancle">
                                           <img src="~/Content/Pictures/Cancle.PNG" class="secondaryButton">
                                       </a>
                                   </div>
                               </div>
                               <br />
                           </form>
                       </div>

                <br />                
                <br />
                <br />

                <div style="text-align: right;">
                    <a href="/Athlete/save">
                        <img src="~/Content/Pictures/Save.PNG" class="pageButton">
                    </a>
                    <a href="/Athlete/Cancle">
                        <img src="~/Content/Pictures/Cancle.PNG" class="pageButton">
                    </a>
                </div>
            </div>
        </div>

    }
</div>
