@model Prototyp.Models.User


@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Login</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td><label class="login-label" value="@Request["Username"]">Username:</label></td>
            </tr>
            <tr>
                <td>
                    <label class="login-label" value="@Request["UserID"]">password:</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td>
                    <input type="submit" value="register"/>
                </td>
            </tr>
        </table>
    </fieldset>
}
<!--
    <div class="pageContainer">
    <div class="loginContainer">
        <h2 style="text-align: center">Login</h2>
        <p style="text-align: center">Please verify your identity.</p>
        <hr />

        <label class="login-label">Username:</label>
       
        <br />
        <label class="login-label">Password:</label>
        <br />
        <div class="login-buttons">
            <a href="/Event/Index">
                <input type="button" value="Login" onclick="location.href=''" />

            </a>
            <br />
            <a href="/Login/Index">
                <input type="submit" class="sign-up" value="Sign Up">
            </a>


        </div>
    </div>
</div>
    -->
