@model Prototyp.Models.NumberSet

@{
    ViewBag.Title = "Start Number";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @using (Html.BeginForm("Form", "NumberSet", FormMethod.Post))
    {
        <div class="pageContainer">
            <div class="pageLeft">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <label for="setName" class="input-label">Set Name:</label>
                @Html.TextBox("txtSetName", (string)ViewBag.location, new { @class = "input", type = "text" })

                <br />
                <p>Numbers</p>

                <br />
                <div class="search-field">
                    @Html.TextBox("startNumber", "Number", new { @class = "search", type = "text" })
                    <div class="secondar
                         ButtonContainer">
                        <a href="/Athlete/save">
                            <img src="~/Content/Pictures/Save.PNG" class="secondaryButton">
                        </a>
                        <a href="/Athlete/Cancle">
                            <img src="~/Content/Pictures/Cancle.PNG" class="secondaryButton">
                        </a>
                    </div>
                </div>
            </div>
            <div class="pageRight">
                <div class="chooseItem search-field">
                    @Html.DropDownList("setName", new List<SelectListItem>
                                           {
                                             new SelectListItem { Text = "Set A", Value = "1"},
                                             new SelectListItem { Text = "Set B", Value = "2"},
                                             new SelectListItem { Text = "Set C", Value = "3"}
                                           }, "Set Name", new { @class = "search-field input" })
                </div>
                <br /> <br /> <br />
                <label for="number" class="input-label">Number:</label>
                @Html.TextBox("number", "", new { @class = "input", type = "text" })
                <br />
                <label for="clubName" class="input-label">Club Name:</label>
                @Html.DropDownList("clubName", new List<SelectListItem>
                                                        {
                                                          new SelectListItem { Text = "Club A", Value = "1", Selected=true},
                                                          new SelectListItem { Text = "Club B", Value = "2"},
                                                          new SelectListItem { Text = "Club C", Value = "3"}
                                                        }, "Club Name", new { @class = "input" })
                <br />
                <label for="athleteName" class="input-label">Athlete :</label>
                @Html.DropDownList("athleteName", new List<SelectListItem>
                                                        {
                                                          new SelectListItem { Text = "Athlete A", Value = "1", Selected=true},
                                                          new SelectListItem { Text = "Athlete B", Value = "2"},
                                                          new SelectListItem { Text = "Athlete C", Value = "3"}
                                                        }, "Club Name", new { @class = "input" })
                <br />
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>


                <div style="text-align: right;">
                    <a href="/Athlete/save">
                        <img src="~/Content/Pictures/Save.PNG" class="pageButton">
                    </a>
                    <a href="/Athlete/Cancle">
                        <img src="~/Content/Pictures/Cancle.PNG" class="pageButton">
                    </a>
                </div>
            </div>



        </div>

    }
</div>
